@import url(sprite/stylesheet.css);
html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
img,
strong,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
header,
section {
  display: block;
}
ul {
  list-style-type: none;
}
/* 整体设计 */
.hide {
  display: none;
}
.g-h {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
}
.g-h .title {
  margin: 19px 0 16px 14px;
  font: 18px/1.4 tahoma, arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft Yahei';
  color: #999;
}
.g-doc {
  position: fixed;
  top: 61px;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 700px;
  overflow-x: auto;
}
.g-doc .m-tasks {
  position: absolute;
  top: 0;
  height: 100%;
}
#app-cates {
  left: 0;
  width: 260px;
  border-right: 1px solid #ccc;
  background-color: #f2f2f2;
}
#app-todos {
  left: 261px;
  width: 260px;
  border-right: 1px solid #ccc;
}
#app-todo {
  left: 522px;
  right: 0;
}
/* 所有分类详情列表 */
.app-cates {
  position: relative;
  height: 100%;
}
.app-cates .cates-top {
  position: absolute;
  top: 13px;
  left: 0;
  right: 0;
  height: 76px;
  font-size: 18px;
}
.app-cates .cates-top .title {
  margin-left: 12px;
  font-weight: normal;
  line-height: 33px;
}
.app-cates .task-nums {
  margin: 12px 0 10px 12px;
}
.app-cates .cates {
  box-sizing: border-box;
  height: 100%;
  padding-top: 89px;
  padding-bottom: 45px;
  font-size: 16px;
}
.app-cates .cate-lists {
  max-height: 100%;
  overflow-y: auto;
  list-style-type: none;
}
.app-cates .cate .open {
  background-image: url("../css/sprite/cate-open.png");
}
.app-cates .cate .add-task {
  display: none;
  position: absolute;
  top: 6px;
  right: 50px;
}
.app-cates .cate .edit {
  display: none;
  position: absolute;
  top: 6px;
  right: 28px;
}
.app-cates .cate .destroy {
  display: none;
  position: absolute;
  top: 6px;
  right: 6px;
}
.app-cates .cate-view {
  position: relative;
  padding-left: 50px;
  height: 28px;
  line-height: 28px;
  background: url("../css/sprite/cate.png") no-repeat 28px center;
  cursor: pointer;
}
.app-cates .cate-view:hover {
  background-color: #ccc;
}
.app-cates .cate-view:hover .add-task,
.app-cates .cate-view:hover .edit,
.app-cates .cate-view:hover .destroy {
  display: block;
}
.app-cates .cate-view span {
  vertical-align: top;
}
.app-cates .cate-name {
  display: inline-block;
  max-width: 96px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.app-cates .cate-rename {
  display: none;
  box-sizing: border-box;
  width: 190px;
  height: 28px;
  margin-left: 29px;
  border-width: 2px;
  padding-left: 6px;
  font-size: 16px;
}
.app-cates .task-lists {
  list-style-type: none;
}
.app-cates .task .open {
  background-image: url("../css/sprite/file-open.png");
}
.app-cates .task-view {
  position: relative;
  height: 28px;
  padding-left: 64px;
  line-height: 28px;
  background: url("../css/sprite/file.png") no-repeat 44px center;
  cursor: pointer;
}
.app-cates .task-view span {
  vertical-align: top;
}
.app-cates .task-view:hover {
  background-color: #fff;
}
.app-cates .task-view:hover .edit,
.app-cates .task-view:hover .destroy {
  display: block;
}
.app-cates .task-name {
  display: inline-block;
  max-width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.app-cates .task-rename {
  display: none;
  box-sizing: border-box;
  width: 180px;
  height: 28px;
  margin-left: 44px;
  border-width: 2px;
  padding-left: 6px;
  font-size: 14px;
}
.app-cates .add-cate {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 44px;
  border-top: 1px solid #ccc;
  background-color: #eee;
}
.app-cates .add-cate a {
  position: absolute;
  top: 14px;
  left: 18px;
  cursor: pointer;
}
.app-cates .add-cate div {
  margin-top: 12px;
  margin-left: 50px;
  font-size: 14px;
  line-height: 20px;
}
/* todos list */
.app-todos {
  position: relative;
  height: 100%;
}
.app-todos .todos-type {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.app-todos .todos-type .status {
  display: inline-block;
  height: 20px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 0 8px;
  border: 1px solid #eee;
  line-height: 20px;
  cursor: pointer;
}
.app-todos .todos-type .status:first-child {
  margin-left: 35px;
}
.app-todos .todos-type .status.curt {
  background-color: #fff;
  border-color: #ccc;
}
.app-todos .todos {
  box-sizing: border-box;
  height: 100%;
  padding: 41px 0 45px 0;
}
.app-todos .todo-lists {
  max-height: 100%;
  overflow-y: auto;
}
.app-todos .date {
  height: 34px;
  padding-left: 20px;
  line-height: 34px;
  background-color: #fafaee;
}
.app-todos .todo {
  height: 28px;
  padding: 2px 0 2px 36px;
  line-height: 28px;
  cursor: pointer;
}
.app-todos .todo:hover {
  background-color: #f2f2f2;
}
.app-todos .todo.curt {
  color: #238c00;
}
.app-todos .todo-view {
  position: relative;
}
.app-todos .todo-view:hover .edit,
.app-todos .todo-view:hover .destroy {
  display: block;
}
.app-todos .todo-view .edit {
  display: none;
  position: absolute;
  top: 6px;
  right: 28px;
}
.app-todos .todo-view .destroy {
  display: none;
  position: absolute;
  top: 6px;
  right: 6px;
}
.app-todos .todo-rename {
  display: none;
  box-sizing: border-box;
  width: 200px;
  height: 24px;
  margin-top: 2px;
  padding-left: 4px;
  border-width: 2px;
}
.app-todos .add-todo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 44px;
  border-top: 1px solid #ccc;
  background-color: #eee;
}
.app-todos .add-todo a {
  position: absolute;
  top: 14px;
  left: 18px;
  cursor: pointer;
}
.app-todos .add-todo div {
  margin-top: 12px;
  margin-left: 50px;
  font-size: 14px;
  line-height: 20px;
}
/* todo */
.app-todo {
  position: relative;
  height: 100%;
}
.app-todo .todo-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
}
.app-todo .todo-head h2 {
  margin-left: 16px;
  line-height: 52px;
  font-size: 16px;
}
.app-todo .finish {
  display: none;
  position: absolute;
  top: 9px;
  right: 68px;
}
.app-todo .edit {
  display: none;
  position: absolute;
  top: 9px;
  right: 20px;
}
.app-todo .date {
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
  height: 54px;
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
  line-height: 54px;
  background-color: #fafaee;
}
.app-todo .todo-content {
  box-sizing: border-box;
  height: 100%;
  padding: 112px 16px 4px 16px;
}
.app-todo .content-inner {
  max-height: 100%;
  overflow-y: auto;
  font-size: 14px;
}
.app-todo .content-inner p {
  margin: 6px 0;
}
