/* 任务详情 */
.app-task {
  position: relative;
  height: 100%;
}
.app-task .task-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
}
.app-task .task-head h2 {
  margin-left: 16px;
  line-height: 52px;
  font-size: 16px;
}
.app-task .save {
  display: block;
  position: absolute;
  top: 12px;
  right: 68px;
  width: 26px;
  height: 26px;
  background: url("../../images/complete.png") no-repeat center center / 26px;
}
.app-task .save:hover {
  background: url("../../images/complete-hover.png") no-repeat center center / 26px;
}
.app-task .edit {
  display: block;
  position: absolute;
  top: 12px;
  right: 20px;
  width: 26px;
  height: 26px;
  background: url("../../images/edit.png") no-repeat center center / 26px;
}
.app-task .edit:hover {
  background: url("../../images/edit-hover.png") no-repeat center center / 26px;
}
.app-task a.editing {
  background: url("../../images/editing.png") no-repeat center center / 26px;
}
.app-task .date {
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
  height: 54px;
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
  line-height: 54px;
  background-color: #fafaee;
}
.app-task .task-content {
  box-sizing: border-box;
  height: 100%;
  padding: 112px 16px 4px 16px;
}
.app-task .content-inner {
  max-height: 100%;
  overflow-y: auto;
  font-size: 14px;
}
.app-task .content-inner p {
  margin: 6px 0;
}
