<% for(var i=0,l=obj.length; i<l; i++){ %>
	<li class="date"><%= obj[i].date %></li>
	<% var todos = obj[i].todos %>
	<% for(var j=0,jl=todos.length; j<jl; j++){ %>
		<li class="todo" data-id=<%= todos[j]._id %>>
			<div class="todo-view">
				<div class="todo-name" title=<%= todos[j].name %>><%= todos[j].name %></div>
				<a href="javascript:;" class="edit j-todo-edit"></a>
				<a href="javascript:;" class="destroy j-todo-destroy"></a>
			</div>
			<input class="todo-rename" value=<%= todos[j].name %>>
		</li>
	<% } %>
<% } %>