<ul class="cates-list">
	<% for(var i=0,len=obj.length; i<len; i++){ %>
	<li class="cate-item" data-cid=<%= obj[i]._id %>>
		<div class="cate"><span class="cate-name" title=<%= obj[i].name %>><%= obj[i].name %></span><span><%= obj[i].todos? "("+obj[i].todos+")" : "" %></span><a href="javascript:;" class="destroy j-destroy-c"></a></div>
		<div class="cate-input"><input type="text" class="j-cate-edit" value=<%= obj[i].name %>></div>
		<% if(obj[i].tasks){ %>
			<ul class="task-list hide">
				<% for(var j=0,jlen=obj[i].tasks.length; j<jlen; j++){ %>
					<li class="task"><span class="task-name" title=<%= obj[i].tasks[j].name %>><%= obj[i].tasks[j].name %></span><span><%= obj[i].tasks[j].todos ? "("+obj[i].tasks[j].todos+")" : "" %></span><a href="javascript:;" class="destroy j-destroy-t"></a></li>
				<% } %>
			</ul>
		<% } %>
	</li>
	<% } %>
	<!-- <li class="cate-item">
		<div class="cate"><span class="cate-name" title="百度IFE项目百度IFE项目">百度IFE项目百度IFE项目</span><span>(10)</span><a href="javascript:;" class="destroy"></a></div>
		<ul class="task-list hide">
			<li class="task"><span class="task-name" title="任务一任务一任务一">任务一任务一任务一</span><span>(6)</span><a href="javascript:;" class="destroy"></a></li>
			<li class="task"><span class="task-name" title="任务二任务二任务二">任务二任务二任务二</span><span>(4)</span><a href="javascript:;" class="destroy"></a></li>
		</ul>
	</li> -->
</ul>
